.sidebar {
    flex: 0.30;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    border-right: 1px solid lightgray;
}

.sidebar__header {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 56px;
}

.sidebar__avatar {
    cursor: pointer;
    margin: 10px;
}

.sidebar__input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #e5e5e5;
    border-radius: 5px;
}

.sidebar__input > input {
    border: none;
    background: transparent;
    outline-width: 0;
}

.sidebar__chats {
    overflow: scroll;
}

.sidebar__chats::-webkit-scrollbar {
    display: none;
}

.sidebar__chats {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

